.Profile__main {
	width: 100%;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between; /*test */
	flex-grow: 1;
}

.Profile__container {
	width: 100%;
	display: flex;
	box-shadow: 0px 2px 1px #e1e4e8;
	background-color: white;
	justify-content: center;
}

.Profile__navbar {
	width: 100%;
	box-sizing: border-box;
	padding: 1rem 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.Profile__avatar {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
}

.Profile__nick {
	max-width: 50%;
	text-align: center;
	font-size: 1.5rem;
	padding: 0 0.7rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Profile__logout {
	text-decoration: none;
	color: white;
	padding: 1rem;
	border-radius: 1rem;
	background-color: #ea4a5a;
}

.Profile__content {
	margin-top: 1rem;
	width: 100%;
	height: 70vh;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Profile__form {
	display: inline-block;
	width: 100%;
	display: flex;
	margin-bottom: 3rem;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
}

.Profile__item {
	width: 100%;
	display: flex;
	font-size: 1.4rem;
	box-sizing: border-box;
	padding: 0.5rem 2rem;
	flex-direction: column;
}

.Profile__item label {
	color: #24292e;
	padding-bottom: 0.7rem;
}

.Profile__item input {
	padding: 1rem 0.5rem;
	border-radius: 6px;
	background-color: #fafbfc;
	border: 1px solid #e1e4e8;
}

.Profile__item input:focus {
	border-color: #0366d6;
	box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
	outline: none;
}

.Profile__item textarea {
	width: 100%;
	padding: 1rem 0.5rem;
	border-radius: 6px;
	background-color: #fafbfc;
	border: 1px solid #e1e4e8;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;
	resize: none;
}

.Profile__item textarea:focus {
	border-color: #0366d6;
	box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
	outline: none;
}

.Profile_buttons {
	width: 100%;
	padding: 1rem 0;
	display: flex;
	justify-content: center;
}

.Profile_buttons button {
	border-radius: 6px;
	flex-grow: 1;
	height: 4rem;
}

.Profile_buttons button:nth-child(1) {
	color: #fff;
	background-color: #17a2b8;
	border: 1px solid #17a2b8;
	margin-right: 1rem;
}

.Profile_buttons button:nth-child(2) {
	color: #fff;
	background-color: #17a2b8;
	border: 1px solid #17a2b8;
	margin-left: 1rem;
}

.Profile_open-json {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
	font-size: 1.2rem;
	background-color: #17a2b8;
	margin-right: 1rem;
	border-radius: 6px;
	flex-grow: 1;
}

.Profile_open-json a {
	text-decoration: none;
	color: white;
	width: 100%;
}

.Profile_open-json a:active {
	color: white;
}

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-track {
	background: #dfe2e6;
}

::-webkit-scrollbar-thumb {
	background: #c8e1ff;
}

::-webkit-scrollbar-thumb:hover {
	background: #0366d6;
}

@media screen and (min-width: 320px) {
	.Profile__navbar {
		padding: 1.2rem 1rem;
	}

	.Profile__avatar {
		height: 3.2rem;
		width: 3.2rem;
	}

	.Profile__nick {
		padding: 0 1rem;
	}

	.Profile__logout {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 360px) {
	.Profile__navbar {
		padding: 1.2rem;
	}

	.Profile__avatar {
		height: 3.3rem;
		width: 3.3rem;
	}

	.Profile__logout {
		padding: 1rem 1.2rem;
	}
}

@media screen and (min-width: 480px) {
	.Profile__navbar {
		padding: 1.4rem;
	}

	.Profile__avatar {
		height: 3.4rem;
		width: 3.4rem;
	}

	.Profile__nick {
		max-width: 60%;

		padding: 0 1.2rem;
	}

	.Profile__logout {
		padding: 1rem 1.4rem;
		font-size: 1.3rem;
	}

	.Profile__form {
		width: 90%;
	}

	.Profile_buttons {
		width: 90%;
	}

	::-webkit-scrollbar {
		display: block;
		width: 0.7rem;
	}
}

@media screen and (min-width: 520px) {
	.Profile__navbar {
		padding: 1.5rem;
	}

	.Profile__avatar {
		height: 3.5rem;
		width: 3.5rem;
	}

	.Profile__nick {
		max-width: 55%;
		padding: 0 1rem;
	}

	.Profile__logout {
		padding: 1rem 1.5rem;
		font-size: 1.4rem;
	}

	.Profile__form {
		width: 85%;
	}

	.Profile_buttons {
		width: 85%;
	}
}

@media screen and (min-width: 600px) {
	.Profile__navbar {
		justify-content: space-evenly;
		padding: 1.7rem;
	}

	.Profile__avatar {
		height: 3.7rem;
		width: 3.7rem;
	}

	.Profile__nick {
		padding: 0 0.7rem;
	}

	.Profile__form {
		width: 80%;
	}

	.Profile_buttons {
		width: 80%;
	}
}

@media screen and (min-width: 720px) {
	.Profile__navbar {
		padding: 1.7rem 2rem;
	}

	.Profile__avatar {
		height: 3.9rem;
		width: 3.9rem;
	}

	.Profile__nick {
		font-size: 1.6rem;
		padding: 0 0.5rem;
	}

	.Profile__form {
		width: 70%;
	}

	.Profile_buttons {
		width: 70%;
	}

	::-webkit-scrollbar {
		width: 1rem;
	}
}

@media screen and (min-width: 800px) {
	.Profile__navbar {
		padding: 1.7rem 2.5rem;
	}

	.Profile__avatar {
		height: 4rem;
		width: 4rem;
	}

	.Profile__logout {
		padding: 1rem 1.7rem;
	}

	.Profile__form {
		width: 66%;
	}

	.Profile_buttons {
		width: 66%;
	}
}

@media screen and (min-width: 1024px) {
	.Profile__navbar {
		padding: 1.7rem 3.5rem;
	}

	.Profile__nick {
		padding: 0 1rem;
	}

	.Profile__logout {
		padding: 1rem 2rem;
		font-size: 1.5rem;
	}

	.Profile__form {
		width: 60%;
	}

	.Profile_buttons {
		width: 60%;
	}

	::-webkit-scrollbar {
		width: 1.2rem;
	}
}

@media screen and (min-width: 1280px) {
	.Profile__navbar {
		width: 100rem;
		padding: 1.7rem 5rem;
	}

	.Profile__avatar {
		height: 4.2rem;
		width: 4.2rem;
	}

	.Profile__nick {
		max-width: 40rem;
		font-size: 1.6rem;
		padding: 0 0.5rem;
	}

	.Profile__logout {
		padding: 1rem 2rem;
		font-size: 1.5rem;
	}

	.Profile__form {
		width: 70rem;
	}

	.Profile_buttons {
		width: 70rem;
	}
}

@media screen and (min-width: 1366px) {
	.Profile__navbar {
		padding: 1.7rem 6rem;
	}

	.Profile__avatar {
		height: 4.4rem;
		width: 4.4em;
	}

	.Profile__nick {
		max-width: 40rem;
		font-size: 1.7rem;
		padding: 0 0.4rem;
	}

	.Profile__logout {
		padding: 1rem 3rem;
		font-size: 1.6rem;
	}

	::-webkit-scrollbar {
		width: 1.3rem;
	}
}
